body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
    text-align: center;
    max-height: 500px;
}

img {
    margin: auto;
    width: 300px;
    margin: 5px;
}

.photodiv {
    width: 500px;
    height: 600px;
}